<section class="py-3 text-center container">
    <div class="row py-lg-3 d-flex align-items-center"">
        <div class="col >
            <p class="font-weight-bold" style="font-size: 2rem;">You are now 25 Years old!</p>
            <p class="lead">
                You are the sweetest person I know, and this birthday is a fresh beginning. I wish you confidence, courage, and capability. Happy birthday. 
                <br/>
                <br/>
                TThank you for staying with me for more than 1 year. We have been through many journeys, both ups, and downs. After COVID, I promise you I will take you around the world together naka.  
                <br>

            </p>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <div class="card" style="width: 25rem;">
                <img class="card-img-top" src="/img/firstDate.png" alt="Card image cap">
                <div class="card-body" style="background-color:navajowhite;">
                    <p class="card-text">Picture of our first date at fashion island</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="strawberry"></div>


